<!-- <p>home works!</p> -->

<!-- <app-menu-bar></app-menu-bar>
<head> </head> -->
 
<!-- <body>

  <div class="card mainpage float-right col-7" style="width: 50rem">
    <div class="card-body">
      <img class="bgimg  " style="float: left" src="assets\images\home2.jpg" />
      <h4 class="card-title mb-2 display-1 head">ExamPortal</h4>
      <br/>
      <h5 class="card-text">
        Welcome to Online Assessment Platform to test your knowledge on various coding concepts.
      </h5>
      <img class="bottom" style="float: left" src="assets\images\2.png" />
    </div>
  </div>
</body> -->


<body class="bg">
  <div class="container">
      <div class="content">
          <div class="square twitch" style="margin-bottom: 50px;">
              <span class="one" ></span>
              <span class="two"></span>
              <span class="three"></span>
              <div class="circle">
                  <h2 class="DrugRadar"> Exam Portal
                  </h2>
                  <br>
                  <p><b> Welcome to Online Assessment Platform to test your knowledge on various Languages.</b></p>
              </div>
          </div>

          <a href="user_login" class="button" target="_parent">
                  <span class="actual-text">&nbsp;LogIn!&nbsp;</span>
                  <span class="hover-text" aria-hidden="true">&nbsp;LogIn!&nbsp;</span>
          </a>
      </div>
  </div>

